src/pdfa.xmpi
src/phd_thesis_abstract.aux
src/phd_thesis_abstract.bbl
src/phd_thesis_abstract.bcf
src/phd_thesis_abstract.blg
src/phd_thesis_abstract.lof
*.log
src/phd_thesis_abstract.lot
src/phd_thesis_abstract.out
src/phd_thesis_abstract.pdf
src/phd_thesis_abstract.synctex
src/phd_thesis_abstract.synctex.gz
src/phd_thesis_abstract.synctex(busy)
src/phd_thesis_abstract.tcp
src/phd_thesis_abstract.toc
src/phd_thesis_abstract.tps
src/phd_thesis_abstract.run.xml
src/phd_thesis_abstract.fdb_latexmk
src/phd_thesis_abstract.fls

src/conclusions/conclusions.aux
src/introduction/introduction.aux
src/materials_and_methods/materials_and_methods.aux
src/misc/misc.aux
src/objectives/objectives.aux
src/preface/preface.aux
src/results_and_discussion/results_and_discussion.aux
src/title/title.aux
*.bak
*.sav
