src/pdfa.xmpi
src/phd_thesis_abstract.aux
src/phd_thesis_abstract.bbl
src/phd_thesis_abstract.bcf
src/phd_thesis_abstract.blg
src/phd_thesis_abstract.lof
*.log
src/phd_thesis_abstract.lot
src/phd_thesis_abstract.out
src/phd_thesis_abstract.pdf
src/phd_thesis_abstract.synctex
src/phd_thesis_abstract.synctex.gz
src/phd_thesis_abstract.synctex(busy)
src/phd_thesis_abstract.tcp
src/phd_thesis_abstract.toc
src/phd_thesis_abstract.tps
src/phd_thesis_abstract.run.xml
src/phd_thesis_abstract.fdb_latexmk
src/phd_thesis_abstract.fls

src/conclusions/conclusions.aux
src/introduction/introduction.aux
src/materials_and_methods/materials_and_methods.aux
src/misc/misc.aux
src/objectives/objectives.aux
src/preface/preface.aux
src/results_and_discussion/results_and_discussion.aux
src/title/title.aux
src/scripts/__pycache__
src/results_and_discussion/assets/artefact/artefact_amphidinium.tex
src/results_and_discussion/assets/artefact/artefact_amphidinium.pdf
src/results_and_discussion/assets/interpretation/at/interpretation_at.tex
src/results_and_discussion/assets/interpretation/at/interpretation_at.pdf
src/results_and_discussion/assets/interpretation/gc/interpretation_gc.tex
src/results_and_discussion/assets/interpretation/gc/interpretation_gc.pdf
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes.pdf
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes.tex
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes_pU.pdf
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes_pU.tex
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2.pdf
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2.tex
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2_pU.pdf
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2_pU.tex
src/results_and_discussion/assets/rna_triplex/rna_triplex_spectra.tex
src/results_and_discussion/assets/rna_triplex/rna_triplex_spectra.pdf
src/results_and_discussion/assets/tel22/tel22_spectra.tex
src/results_and_discussion/assets/tel22/tel22_spectra.pdf
*.bak
*.sav
